{% block subject %}
    Password reset
{% endblock %}

{% block body %}
    {% set url = channel.hostname is not null ? url_scheme ~ '://' ~ channel.hostname ~ path('sylius_shop_password_reset', { 'token': user.passwordResetToken}) : url('sylius_shop_password_reset', { 'token': user.passwordResetToken}) %}
    {% autoescape %}
        <h3>Hello {{ user.username }}</h3>

        To reset your password - please visit <a href="{{ url|raw }}">{{ url|raw }}</a>
        <br/><br/>
        Regards, the Team.
    {% endautoescape %}
{% endblock %}
