{% set shopBillingData = invoice.shopBillingData %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
        .invoice-box { max-width: 800px; margin: auto; padding: 30px; border: 1px solid #eee; box-shadow: 0 0 10px rgba(0, 0, 0, .15); font-size: 16px; line-height: 24px; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #555 }
        .invoice-box table { width: 100%; line-height: inherit; text-align: left; }
        .invoice-box table td { padding: 5px; vertical-align: top; text-align: right; }
        .invoice-box table tr td:nth-child(1) { text-align: left; }
        .invoice-box table tr.top table td { padding-bottom: 20px; }
        .invoice-box table tr.top table td.title { font-size: 45px; line-height: 45px; color: #333; }
        .invoice-box table tr.information table td { padding-bottom: 40px; }
        .invoice-box table tr.heading td { background: #eee; border-bottom: 1px solid #ddd; font-weight: bold; }
        .invoice-box table tr.details td { padding-bottom: 20px; }
        .invoice-box table tr.item td{ border-bottom: 1px solid #eee; }
        .invoice-box table tr.item.last td { border-bottom: none; }
        .invoice-box table tr.total td { border-top: 2px solid #eee; font-weight: bold; }
    </style>
</head>

<body>
<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="4">
                <table>
                    <tr>
                        <td colspan="3" class="title">
                            <img src="{{ invoiceLogoPath }}" style="max-height: 100px;">
                        </td>
                        <td>
                            <strong>{{ 'invoice.pdf.invoice'|trans }}</strong> #{{ invoice.number }}<br>
                            <strong>{{ 'invoice.pdf.issued_at'|trans }}</strong> {{ invoice.issuedAt|date('Y-m-d H:i:s') }}<br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="information">
            <td colspan="4">
                <table>
                    <tr>
                        <td>
                            <strong>{{ billingAddress.firstName }} {{ billingAddress.lastName }}</strong><br/>
                            {% if customer is not null %}
                                {% if customer.companyName is not null %}{{ customer.companyName }}<br/>{% endif %}
                                {% if customer.companyCode is not null %}{{ customer.companyCode }}<br/>{% endif %}
                                {% if customer.vatNumber is not null %}{{ customer.vatNumber }}{% endif %}
                            {% endif %}
                            {{ billingAddress.street }}
                            {% if billingAddress.houseNumber %} {{ billingAddress.houseNumber }}{% endif %}
                            {% if billingAddress.apartmentNumber %}- {{ billingAddress.apartmentNumber }}{% endif %}
                            <br/>
                            {{ billingAddress.city }}<br/>
                            {{ billingAddress.countryCode|sylius_country_name|upper }} {{ billingAddress.postcode }}<br/>
                        </td>

                        {% if shopBillingData %}
                            <td>
                                {% if shopBillingData.company %}<strong>{{ shopBillingData.company }}</strong><br/>{% endif %}
                                {% if shopBillingData.taxId %}{{ shopBillingData.taxId }}<br/>{% endif %}
                                {% if shopBillingData.street %}{{ shopBillingData.street }}<br/>{% endif %}
                                {% if shopBillingData.city %}{{ shopBillingData.city }}<br/>{% endif %}
                                {% if shopBillingData.countryCode and shopBillingData.postcode %}
                                    {{ shopBillingData.countryCode|sylius_country_name|upper }} {{ shopBillingData.postcode }}
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                </table>
            </td>
        </tr>

        <tr class="heading">
            <td>{{ 'sylius.ui.item'|trans }}</td>
            <td>{{ 'sylius.ui.unit_price'|trans }}</td>
            <td>{{ 'sylius.ui.quantity'|trans }}</td>
            <td>{{ 'sylius.ui.price'|trans }}</td>
        </tr>

        {% for item in invoice.lineItems %}
            <tr class="item">
                <td>{{ item.name }} {% if item.variantName is not null %}({{ item.variantName }}){% endif %}</td>
                <td>{{ item.unitPrice|sylius_format_money(invoice.currencyCode, invoice.localeCode) }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total|sylius_format_money(invoice.currencyCode, invoice.localeCode) }}</td>
            </tr>
        {% endfor %}

        {% if invoice.taxItems.count() > 0 %}
            <tr class="heading">
                <td colspan="3">{{ 'sylius.ui.tax'|trans }}</td>
                <td>{{ 'sylius.ui.amount'|trans }}</td>
            </tr>

            {% for taxItem in invoice.taxItems %}
                <tr class="tax-item">
                    <td colspan="3">{{ taxItem.label }}</td>
                    <td>{{ taxItem.amount|sylius_format_money(invoice.currencyCode, invoice.localeCode) }}</td>
                </tr>
            {% endfor %}
        {% endif %}

        <tr class="total">
            <td colspan="3"></td>
            <td>{{ 'sylius.ui.total'|trans }}: {{ invoice.total|sylius_format_money(invoice.currencyCode, invoice.localeCode) }}</td>
        </tr>
    </table>
</div>
</body>
</html>
