{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

<div class="row">
    <div class="col">
        {{ headers.default(header|trans, '', 'sylius.ui.edit_your_items_apply_coupon_or_proceed_to_the_checkout'|trans) }}
    </div>
    <div class="col-auto">
        <div class="row">
            <div class="col-auto">
                <form method="post" action="{{ path('sylius_shop_cart_clear') }}" >
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token(cart.id) }}" />
                    <button type="submit" class="btn btn-outline-secondary">
                        {{ 'sylius.ui.clear_cart'|trans }}
                    </button>
                </form>
            </div>
            <div class="col-auto">
                <a href="{{ path('sylius_shop_homepage') }}" class="btn btn-link">
                    {{ 'shop24.ui.back_to_store'|trans }}
                </a>
            </div>
        </div>
    </div>
</div>
