{% block subject %}
    {{ 'email.b2c_order_new.subject'|trans({'%order_number%': order.number}) }}
{% endblock %}

{% block body %}
    {% set lastPayment = order.payments.last() %}

    {% set body %}
        {{ 'email.b2c_order_new.body'|trans({'%order_number%': order.number})|raw }}

        {% if lastPayment != false and lastPayment.method.code == 'bank_transfer' %}
            {% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

            <br><br>
            
            {{ 'app.ui.bank_transfer_instructions'|trans({
                '%order_sum%': money.convertAndFormat(lastPayment.amount),
                '%order_number%': order.number,
            })|raw }}
        {% endif %}
    {% endset %}

    {% include '@SyliusShop/Email/layout.html.twig' with {
        'body': body,
        'url_title': 'shop24.ui.view_your_order'|trans,
        'url': order.channel.hostname is not null ? url_scheme ~ '://' ~ order.channel.hostname ~ path('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) : url('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode})
    } %}
{% endblock %}
