{% block subject %}
    {{ 'email.client_password_reset.subject'|trans }}
{% endblock %}

{% block body %}
    {% include '@SyliusShop/Email/layout.html.twig' with {
        'body': 'email.client_password_reset.body'|trans,
        'url_title': 'email.client_password_reset.url_title'|trans,
        'url': channel.hostname is not null ? url_scheme ~ '://' ~ channel.hostname ~ path('sylius_shop_password_reset', { 'token': user.passwordResetToken}) : url('sylius_shop_password_reset', { 'token': user.passwordResetToken})
    } %}
{% endblock %}
