{% block subject %}
    {{ 'email.registration_to_customer.subject'|trans }}
{% endblock %}

{% block body %}
    {% include '@SyliusShop/Email/layout.html.twig' with {
        'body': 'email.registration_to_customer.body'|trans({'%hostname%': user.username}),
    } %}
{% endblock %}
