{% block subject %}
    {{ 'email.email_address_verification.subject'|trans }}
{% endblock %}

{% block body %}
    {% include '@SyliusShop/Email/layout.html.twig' with {
        'body': 'email.email_address_verification.body'|trans,
        'url_title': 'email.email_address_verification.url_title'|trans,
        'url': channel.hostname is not null ? url_scheme ~ '://' ~ channel.hostname ~ path('sylius_shop_user_verification', { 'token': user.emailVerificationToken}) : url('sylius_shop_user_verification', { 'token': user.emailVerificationToken})
    } %}
{% endblock body %}
