{% set hasTaxon = taxon|default %}
{% set ancestors = hasTaxon ? taxon.ancestors|reverse : [] %}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>

        {% if hasTaxon %}
            <li class="breadcrumb-item"><a href="{{ path('app_taxons_index') }}">{{ 'vehicle.ui.category_tree'|trans }}</a></li>

            {% for ancestor in ancestors if ancestor.code != constant('TREE_CODE', ancestor) %}
                <li class="breadcrumb-item"><a href="{{ path('sylius_shop_product_index', {'slug': ancestor.slug, '_locale': ancestor.translation.locale}) }}">{{ ancestor.name }}</a></li>
            {% endfor %}

            <li class="breadcrumb-item active">{{ taxon.name }}</li>
        {% else %}
            <li class="breadcrumb-item">{{ 'vehicle.ui.category_tree'|trans }}</li>
        {% endif %}
    </ol>
</nav>
