{% if resources.data.nbResults > 0 %}

    {% set route = app.request.attributes.get('_route') %}
    {% set route_parameters = app.request.attributes.get('_route_params')|merge(app.request.query.all) %}

    {% set criteria = app.request.query.get('criteria', {}) %}

    {% set default_path = path(route, route_parameters|merge({'sorting': {'position': 'desc'}, 'criteria': criteria})) %}
    {% set from_a_to_z_path = path(route, route_parameters|merge({'sorting': {'name': 'asc'}, 'criteria': criteria})) %}
    {% set from_z_to_a_path = path(route, route_parameters|merge({'sorting': {'name': 'desc'}, 'criteria': criteria})) %}
    {% set oldest_first_path = path(route, route_parameters|merge({'sorting': {'createdAt': 'asc'}, 'criteria': criteria})) %}
    {% set newest_first_path = path(route, route_parameters|merge({'sorting': {'createdAt': 'desc'}, 'criteria': criteria})) %}
    {% set cheapest_first_path = path(route, route_parameters|merge({'sorting': {'price': 'asc'}, 'criteria': criteria})) %}
    {% set most_expensive_first_path = path(route, route_parameters|merge({'sorting': {'price': 'desc'}, 'criteria': criteria})) %}

    {% if app.request.query.get('sorting') is empty or (app.request.query.get('sorting').position is defined and app.request.query.get('sorting').position == 'desc') %}
        {% set current_sorting_label = 'sylius.ui.by_position'|trans|lower %}
    {% elseif app.request.query.get('sorting').name is defined and app.request.query.get('sorting').name == 'asc'%}
        {% set current_sorting_label = 'sylius.ui.from_a_to_z'|trans|lower %}
    {% elseif app.request.query.get('sorting').name is defined and app.request.query.get('sorting').name == 'desc'%}
        {% set current_sorting_label = 'sylius.ui.from_z_to_a'|trans|lower %}
    {% elseif app.request.query.get('sorting').createdAt is defined and app.request.query.get('sorting').createdAt == 'desc'%}
        {% set current_sorting_label = 'sylius.ui.newest_first'|trans|lower %}
    {% elseif app.request.query.get('sorting').createdAt is defined and app.request.query.get('sorting').createdAt == 'asc'%}
        {% set current_sorting_label = 'sylius.ui.oldest_first'|trans|lower %}
    {% elseif app.request.query.get('sorting').price is defined and app.request.query.get('sorting').price == 'asc'%}
        {% set current_sorting_label = 'sylius.ui.cheapest_first'|trans|lower %}
    {% elseif app.request.query.get('sorting').price is defined and app.request.query.get('sorting').price == 'desc' %}
        {% set current_sorting_label = 'sylius.ui.most_expensive_first'|trans|lower %}
    {% endif %}


    <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">
            {{ 'sylius.ui.sort'|trans }} {{ current_sorting_label }}
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ default_path }}" data-text="{{ 'sylius.ui.by_position'|trans|lower }}">{{ 'sylius.ui.by_position'|trans }}</a>
            <a class="dropdown-item" href="{{ from_a_to_z_path }}" data-text="{{ 'sylius.ui.from_a_to_z'|trans|lower }}">{{ 'sylius.ui.from_a_to_z'|trans }}</a>
            <a class="dropdown-item" href="{{ from_z_to_a_path }}" data-text="{{ 'sylius.ui.from_z_to_a'|trans|lower }}">{{ 'sylius.ui.from_z_to_a'|trans }}</a>
            <a class="dropdown-item" href="{{ newest_first_path }}" data-text="{{ 'sylius.ui.newest_first'|trans|lower }}">{{ 'sylius.ui.newest_first'|trans }}</a>
            <a class="dropdown-item" href="{{ oldest_first_path }}" data-text="{{ 'sylius.ui.oldest_first'|trans|lower }}">{{ 'sylius.ui.oldest_first'|trans }}</a>
            <a class="dropdown-item" href="{{ cheapest_first_path }}" data-text="{{ 'sylius.ui.cheapest_first'|trans|lower }}">{{ 'sylius.ui.cheapest_first'|trans }}</a>
            <a class="dropdown-item" href="{{ most_expensive_first_path }}" data-text="{{ 'sylius.ui.most_expensive_first'|trans|lower }}">{{ 'sylius.ui.most_expensive_first'|trans }}</a>
        </div>
    </div>

{% endif %}
