<h4>{{ 'sylius.ui.personal_information'|trans }}</h4>

{{ form_row(form.firstName) }}
{{ form_row(form.lastName) }}
{{ form_row(form.email) }}
{{ form_row(form.phoneNumber) }}
{{ form_row(form.user.plainPassword.first) }}
{{ form_row(form.user.plainPassword.second) }}
{{ form_row(form.subscribedToNewsletter) }}

