<div class="d-flex flex-column col-12 col-lg-6 col-md-8 m-auto">
    <h1>{{ 'sylius.ui.register_in_the_store'|trans }}</h1>

    <p class="text-muted mb-1">{{ 'sylius.ui.create_a_new_customer_account'|trans }}</p>

    <div class="mb-3"><a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.have_an_account_already'|trans }} {{ 'sylius.ui.sign_in_here'|trans }}.</a></div>
</div>
