.rating-stars {
    font-size: 1.25rem;
    line-height: 1;
    &> span {
        font-size: 1.05rem;
    }
}

.text-orange {
    color: $orange;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 500;
    color: $primary;
}

.product-description {
    font-size: 1rem;
}

.attribute-table {
    font-size: 1rem;
    border-bottom: 1px solid $gray-300;
    .text-dark {
        font-weight: 500;
    }
}

.review-text {
    font-size: 0.75rem;
}

.review-view-more-text {
    font-weight: 500;
    font-size: 0.75rem;
    letter-spacing: 2px;
}

.customer-reviews {
    font-size: 1.05rem;
    .customer-reviews-stars {
        font-size: 1.25rem;
    }
}

.btn.btn-v3 {
    text-transform: uppercase;
    background-color: #33333a;
    border-color: #33333a;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 0.5rem 1rem;
    font-size: 0.7rem;
    &:hover, &:focus, &:not(:disabled):not(.disabled):active {
        background-color: $black;
        border-color: #111119;
    }
    &:focus {
        background-color: $black;
        border-color: #111119;
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5)
    }
}

.new-product-text {
    background-color: $primary;
    padding: 4px 12px;
    color: white;
    position: absolute;
    top: 8px;
    left: 8px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.card-body.card-body-v3 {
    padding: 1rem 0;
    .price {
        color: black;
    }
}

.xs-container {
    max-width: 560px;
    margin-left: auto;
    margin-right: auto;
}

.sm-container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
