{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Product/Index/_breadcrumb.html.twig' %}

    <div class="mb-4">
        {{ render(url('sylius_shop_partial_taxon_index_by_codes_sorted', {
            'template': '@SyliusShop/Common/categoriesIconList.html.twig',
            'codes': constant('App\\Entity\\Taxonomy\\TaxonInterface::INNER_PAGE_CODES'),
        })) }}
    </div>

    {{ render(url('sylius_shop_partial_taxon_index_by_code_sorted', {
        'template': '@SyliusShop/Common/subcategoriesList.html.twig',
        'code': constant('App\\Entity\\Taxonomy\\TaxonInterface::TREE_CODE'),
        'title': 'vehicle.ui.category_tree'|trans,
    })) }}
{% endblock %}
