{% form_theme form 'Sylius/theme.html.twig' %}

{% if form.children|length %}
    <div class="ui stackable grid">
        {% for attribute_filter in form.children %}
            <div class="five wide column">
                {{ form_row(attribute_filter) }}
            </div>
        {% endfor %}
    </div>
{% endif %}
