{% macro getImagePathByTaxonCode(taxonCode) %}{% spaceless %}
    {% set filenamesByTaxonCodes = {
        '1': 'cooling.svg',
        '2': 'spark-plug.svg',
        '3': 'timing-belt.svg',
        '4': 'exhaust.svg',
        '5': 'wire.svg',
        '6': 'filter.svg',
        '7': 'body.svg',
        '8': 'fuel.svg',
        '9': 'ac.svg',
        '10': 'shift.svg',
        '11': 'suspension.svg',
        '12': 'oil.svg',
        '14': 'clutch.svg',
        '15': 'brakes.svg',
        '16': 'fan.svg',
        '17': 'steering-wheel.svg',
        '18': 'engine.svg',
        '19': 'extinguisher.svg',
        '20': 'motorbike.svg',
        '22': 'chemicals.svg',
        '23': 'tools.svg',
        '24': 'tyre.svg',
        '25': 'bearing.svg',
        '26': 'handbrake.svg',
        '30': 'trailer.svg',
        '31': 'windshield.svg',
    } %}
    {% set filename = attribute(filenamesByTaxonCodes, taxonCode)|default %}

    {{ filename ? asset('ad-theme/images/categories/' ~ filename, 'ADTheme') : '' }}
{% endspaceless %}{% endmacro %}
