{% import '@SyliusShop/Common/categoryIcons.html.twig' as categoryIcons %}

{% macro render_category(taxon, vehicle) %}
    <a
        href="{{ vehicle ? path_vehicle_product(vehicle, taxon) : path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}"
        class="btn btn-link d-inline-flex flex-column align-items-center p-0 mx-auto"
    >
        {% set path = categoryIcons.getImagePathByTaxonCode(taxon.code) %}
        {% if path %}
            <img class="em-dimensions-3 mb-2" src="{{ path }}" alt="{{ taxon.name }}">
        {% endif %}

        <small class="text-uppercase text-break mw-100">{{ taxon.name }}</small>
    </a>
{% endmacro %}

{% import _self as macros %}

<div class="categories-icon-list d-flex flex-wrap">
    {% for taxon in taxons|default([]) %}
        {{ macros.render_category(taxon, vehicle|default) }}
    {% endfor %}
</div>
