{% if taxons|length > 0 %}
    {% macro taxonPath(taxon, vehicle) %}
        {{ vehicle|default ? path_vehicle_product(vehicle, taxon) : path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}
    {% endmacro %}

    {% import _self as macros %}
    {% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

    {% set vehicle = vehicle|default %}
    {% set title = title|default(app.request.get('title')) %}

    {% set selectEl %}
        <select class="dropdown-navigate-on-select" data-placeholder="{{ 'vehicle.ui.categories_filter'|trans }}">
            <option value=""></option>

            {% for taxon in taxons %}
                <option value="{{ macros.taxonPath(taxon, vehicle) }}">
                    {{ taxon.name }}
                </option>
            {% endfor %}
        </select>
    {% endset %}

    {{ headers.headerLeftRawRight(title ~ ':', selectEl, 'small') }}

    <div class="subcategories-list">
        {% spaceless %}
            {% for taxon in taxons %}
                <a class="btn btn-link font-weight-bold text-left pl-0" href="{{ macros.taxonPath(taxon, vehicle) }}">
                    {{ taxon.name }}
                </a>
            {% endfor %}
        {% endspaceless %}
    </div>
{% endif %}
