{% block subject %}
    {{ 'shop24.email.order_ready_for_assemble.subject_a'|trans }} {{ order.number }} {{ 'shop24.email.order_ready_for_assemble.subject_b'|trans }}
{% endblock %}

{% block body %}
    {% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
    {% set itemsSubtotal = sylius_order_items_subtotal(order) %}
    {% set shipment = order.shipments.last() %}
    {% autoescape %}
        <div style="font-family: sans-serif; font-size: 16px; line-height: 22px;">
            {% include 'Email/emailLogo.html.twig' %}
            <p>
                <b>{{ 'shop24.email.order_ready_for_assemble.msg_a'|trans }} {{ order.number }} {{ 'shop24.email.order_ready_for_assemble.msg_b'|trans }}</b>
            </p>
            <p>
                {{ 'shop24.email.order_ready_for_assemble.msg_c'|trans }}: {{ order.number }} <br>
                {{ 'shop24.email.order_ready_for_assemble.msg_d'|trans }}: {{ order.shippingAddress.warehouseCode }} <br>
                {{ 'shop24.email.order_ready_for_assemble.msg_e'|trans }}: {{ order.customer.fullName|default(order.customer.email) }}
            </p>
            <p>
                <b>{{ 'shop24.email.order_accepted.msg_e'|trans }}:</b>
            <ul class="cart-list" style="border-bottom:1px solid #E6E9EB;">
                {% for item in order.items %}
                    {% set product = item.product %}
                    {% set variant = item.variant %}
                    <li class="cart-list__item" style="margin:0;padding:0;padding:15px 0;list-style:none;border-top:1px solid #E6E9EB;display:flex;justify-content:space-between;">
                        {% if variant.hasImages %}
                            {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': variant, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
                        {% else %}
                            {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
                        {% endif %}
                        <div class="cart-list__item__text" style="margin-left:20px;width:100%;">
                            <h5 class="cart-list__item__title" style="margin:0;padding:0;font-weight:600;font-size:14px;line-height:18px;">{{ item.getVariant.product.name }}</h5>
                            <div class="cart-list__item__desc" style="margin-top:3px;color:#868e96;margin-top:6px;font-size:14px;line-height:16px;">
                                {% if product.hasOptions() %}
                                    {% for optionValue in variant.optionValues %}
                                        {{ optionValue.value }}
                                    {% endfor %}
                                {% elseif item.variantName is not null %}
                                    {{ item.variantName }}
                                {% endif %}
                            </div>
                            <div class="cart-list__item__info" style="font-size:14px;line-height:16px;margin-top:15px;">
                                <table style="width: 100%">
                                    <tr>
                                        <td valign="middle" style="vertical-align:middle;" style="color:#868e96;">{{ money.convertAndFormat(item.unitPrice) }} x {{ item.quantity }}</td>
                                        <td valign="middle" style="vertical-align:middle; font-weight:600; text-align: right; color:#343a40; font-size:14px;">{{ money.convertAndFormat(item.total) }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="summary" style="margin-top:20px;">
                <div class="summary__inner" style="text-align:right;">
                    <div class="summary__inner__text" style="font-size:14px;margin-top:5px;">
                        {{ 'sylius.ui.subtotal'|trans }}:
                        <div class="summary__inner__text summary__inner__text--bold" style="font-size:14px;margin-top:5px;font-weight:700;display:inline-block;margin-left:5px;">{{ money.convertAndFormat(itemsSubtotal) }}</div>
                    </div>
                    <div class="summary__inner__text" style="font-size:14px;margin-top:5px;">
                        {{ 'sylius.ui.discount'|trans }}:
                        <div class="summary__inner__text summary__inner__text--bold" style="font-size:14px;margin-top:5px;font-weight:700;display:inline-block;margin-left:5px;">{{ money.convertAndFormat(order.orderPromotionTotal) }}</div>
                    </div>
                    <div class="summary__inner__text" style="font-size:14px;margin-top:5px;">
                        {{ 'sylius.ui.shipping_estimated_cost'|trans }}:
                        <div class="summary__inner__text summary__inner__text--bold" style="font-size:14px;margin-top:5px;font-weight:700;display:inline-block;margin-left:5px;">{{ money.convertAndFormat(order.shippingTotal) }}</div>
                    </div>
                    {% if order.getAdjustmentsTotal(constant('App\\Entity\\Order\\Adjustment::SERVICE_FEE_ADJUSTMENT')) > 0 %}
                        <div class="summary__inner__text" style="font-size:14px;margin-top:5px;">
                            {{ 'shop24.ui.service_fee'|trans }}:
                            <div class="summary__inner__text summary__inner__text--bold" style="font-size:14px;margin-top:5px;font-weight:700;display:inline-block;margin-left:5px;">{{ money.format(
                                    order.getAdjustmentsTotal(constant('App\\Entity\\Order\\Adjustment::SERVICE_FEE_ADJUSTMENT')),
                                    order.currencyCode
                                ) }}</div>
                        </div>
                    {% endif %}
                    <div class="summary__inner__text--large" style="font-weight:700;margin-top:7px;">{{ 'sylius.ui.total'|trans }} ({{ 'shop24.ui.cart_pvm_msg'|trans }} 21%): {{ money.convertAndFormat(order.total) }}</div>
                </div>
            </div>
            </p>
            <p>
                <b>{{ 'shop24.email.order_accepted.msg_g'|trans }}:</b>
            </p>
            <p>
                {#TODO: Currently this decides is pickup or delivery used. Same flow as in Select shipping#}
                {% if (shipment.method.code matches '/(?:moki_)/') or (shipment.method.code matches '/(?:S0)/') %}
                    {{ 'shop24.email.order_accepted.msg_h'|trans }}: {{ shipment.method.name }} ({{ 'shop24.email.order_accepted.msg_l'|trans }})
                {% elseif shipment.parcelMachine is not null %}
                    {% set parcelMachine = shipment.parcelMachine %}
                    {{ 'shop24.email.order_accepted.msg_h'|trans }}: {{ shipment.method.name }}: {{ parcelMachine.street }}, {{ parcelMachine.city }}
                {% else %}
                    {{ 'shop24.email.order_accepted.msg_h'|trans }}: {{ shipment.method.name }}, {{ order.shippingAddress.street }} {{ order.shippingAddress.houseNumber }}{{ order.shippingAddress.apartmentNumber ? '-' ~ order.shippingAddress.apartmentNumber : '' }}, {{ order.shippingAddress.city }}
                {% endif %}
            </p>
            <p>
                <b>{{ 'shop24.email.order_accepted.msg_i'|trans }}:</b> {{ order.payments.last().method.name }}
            </p>
            <p>
                {{ 'shop24.email.common.thank_you_long'|trans }} <a href="https://clientplaceholder.lt" target="_blank" style="color: #ffcc03;">{{ 'shop24.email.common.services'|trans }}</a>
            </p>
            <p>
                {{ 'shop24.email.common.yours'|trans }}, <br>
                {{ 'shop24.email.common.seller_shop'|trans }}
            </p>
        </div>
    {% endautoescape %}
{% endblock %}
