{% block subject %}
    {{ 'shop24.email.order_exported_to_erp.subject'|trans }}
{% endblock %}

{% block body %}
    {% autoescape %}
        <div style="font-family: sans-serif; font-size: 16px; line-height: 22px;">
            {% include 'Email/emailLogo.html.twig' %}
            <p>
                {{ 'shop24.email.order_exported_to_erp.message'|trans({'%number%': order.number})|raw }}
            </p>
        </div>
    {% endautoescape %}
{% endblock %}
