{% block subject %}
    {{ 'shop24.email.order_fulfilled.subject_a'|trans }} {{ order.number }} {{ 'shop24.email.order_fulfilled.subject_b'|trans }}
{% endblock %}

{% block body %}
    {% autoescape %}
        <div style="font-family: sans-serif; font-size: 16px; line-height: 22px;">
            {% include 'Email/emailLogo.html.twig' %}
            <p>
                {{ 'shop24.email.common.hello'|trans }}
            </p>
            <p>
                <b>
                    {{ 'shop24.email.common.yours'|trans }} {{ 'shop24.email.order_fulfilled.subject_a'|trans }} {{ order.number }} {{ 'shop24.email.order_fulfilled.subject_b'|trans }}.
                </b>
            </p>
            <p>
                {{ 'shop24.email.order_accepted.msg_j'|trans }} <a href="{{ path('sylius_shop_order_show', {'tokenValue': order.tokenValue}) }}" style="color: #ffcc03;">{{ 'shop24.email.common.this_page'|trans }}</a>
            </p>
            <p>
                {{ 'shop24.email.common.thank_you_long'|trans }} <a href="https://clientplaceholder.lt" target="_blank" style="color: #ffcc03;">{{ 'shop24.email.common.services'|trans }}</a>
            </p>
            <p>
                {{ 'shop24.email.common.yours'|trans }}, <br>
                {{ 'shop24.email.common.seller'|trans }}
            </p>
        </div>
    {% endautoescape %}
{% endblock %}
