{% block subject %}
    {{ 'shop24.email.verification.subject'|trans }}
{% endblock %}

{% block body %}
    {% set url = channel.hostname is not null ? url_scheme ~ '://' ~ channel.hostname ~ path('sylius_shop_user_verification', { 'token': user.emailVerificationToken}) : url('sylius_shop_user_verification', { 'token': user.emailVerificationToken}) %}
    {% autoescape %}
        <div style="font-family: sans-serif; font-size: 16px; line-height: 22px;">
            {% include 'Email/emailLogo.html.twig' %}
            <p>
                {{ 'shop24.email.common.hello'|trans }}
            </p>
            <p>
                {{ 'shop24.email.verification.msg_a'|trans }}
            </p>
            <p>
                {{  'shop24.email.verification.msg_b'|trans }}: <a href="{{ url|raw }}" style="color: #ffcc03;">{{ url|raw }}</a>
            </p>
            <p>
                {{ 'shop24.email.verification.msg_c'|trans }}
            </p>
            <p>
                {{ 'shop24.email.common.thank_you'|trans }} <br>
                {{ 'shop24.email.common.seller'|trans }}
            </p>
        </div>
    {% endautoescape %}
{% endblock %}
