{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{% for association in product.associations %}
    {{ render(url('sylius_shop_partial_product_association_show', {'productId': product.id, 'id': association.id, 'template': '@SyliusShop/Product/Show/_association.html.twig'})) }}
{% else %}
    {{ headers.default('shop24.ui.recommended_products'|trans) }}

    {{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Product/_sliderHorizontalList.html.twig'})) }}
{% endfor %}
