<div class="ui active tab" data-tab="details">
    <h3 class="ui dividing header">{{ 'sylius.ui.details'|trans }}</h3>
    {{ form_errors(form) }}

    <div class="ui two column stackable grid">
        <div class="column">
            <div class="ui segment">
                {{ form_row(form.code) }}
                {{ form_row(form.name) }}
                {# START: tecdoc #}
                {{ form_row(form.tecDocBrandId) }}
                {# END: tecdoc #}
            </div>
        </div>
    </div>

    {{ sonata_block_render_event('loevgaard_sylius_brand.admin.brand.' ~ action ~ '.tab_details', {'form': form}) }}
</div>
