<div class="cms-content ui column stackable grid text-dark">
    <div class="column">
        <div class="ui basic segment">
            <p>{{ node.translation.content|raw }}</p>
        </div>
    </div>
</div>
