{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="not-found-page">
        <img class="not-found-page__img" src="{{ asset('bootstrap-theme-product-v4/images/logo.svg', 'bootstrapThemeProductV4') }}" alt="" />
        <h2>
            {{ 'shop24.ui.the_page_you_are_looking_for_does_not_exist'|trans }}
        </h2>
    </div>
{% endblock %}
