{% set manufacturerId = app.request.query.get('m') %}
{% set articleId = app.request.query.get('a') %}

{% if manufacturerId is null and articleId is null %}
    {{ render(url('app_compatible_vehicles', {'product': product.id})) }}
{% else %}
    {{ render(url('app_compatible_vehicles', {'product': product.id, 'articleId': articleId, 'manufacturerId': manufacturerId})) }}
{% endif %}
