{% set manufacturerId = app.request.query.get('m') %}
{% set articleId = app.request.query.get('a') %}
{% set activeTabClass = 'show active' %}
{% set hasDetailsTab = product.description is not empty %}
{% set isVehiclesTabActive = manufacturerId and articleId %}
{% set isStocksTabActive = not (isVehiclesTabActive or hasDetailsTab) %}

{% if hasDetailsTab %}
    <div class="tab-pane fade {{ isVehiclesTabActive ? '' : activeTabClass }}" id="nav-details">
        {% include '@SyliusShop/Product/Show/Tabs/_details.html.twig' %}
    </div>
{% endif %}

<div class="tab-pane fade {{ isStocksTabActive ? activeTabClass : '' }}" id="nav-stock">
    {% include '@SyliusShop/Product/Show/Tabs/_stocks.html.twig' %}
</div>

<div class="tab-pane fade" id="nav-oeNumbers">
    {% include '@SyliusShop/Product/Show/Tabs/_oeNumbers.html.twig' %}
</div>

<div class="tab-pane fade" id="nav-parameters">
    {% include '@SyliusShop/Product/Show/Tabs/_parameters.html.twig' %}
</div>

<div class="tab-pane fade" id="nav-documents">
    {% include '@SyliusShop/Product/Show/Tabs/_tecDocDocuments.html.twig' %}
</div>

<div class="tab-pane fade {{ isVehiclesTabActive ? activeTabClass : '' }}" id="nav-compatible">
    {% include '@SyliusShop/Product/Show/Tabs/_compatible.html.twig' %}
</div>
