<table class="table clickable-rows table-borderless-head">
    <thead>
        <tr>
            <th>{{ 'app.ui.oe_code'|trans }}</th>
            <th>{{ 'app.ui.suitable_for_cars'|trans }}</th>
        </tr>
    </thead>

    <tbody>
        {% for oeNumber in product.getOeNumbers() %}
            <tr class="cursor-pointer" onclick="window.location = '{{ path('omni_sylius_search', {'q': oeNumber.codeNumber}) }}'">
                <td>{{ oeNumber.codeNumber }}</td>

                <td>{{ oeNumber.brandName }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
