{% set variant = product|sylius_resolve_variant %}

{% if variant is not null %}
    <p>
        {{ 'product.ui.stock_note_internal_city'|trans }}<br />
        {{ 'product.ui.stock_note_external_city'|trans }}<br />
        {{ 'product.ui.stock_note_delivery_info'|trans }}
    </p>
    <table class="table table-borderless-head">
        <tbody>
        {% for warehouseStock in variant.warehousesStock %}
            <tr>
                <th class="d-block ucfirst">{{ warehouseStock.warehouseName }}</th>
                <td class="{{ warehouseStock.stock ? 'text-success' : 'text-danger' }}">
                    {{ warehouseStock.stock }} {{ 'product.ui.stock_amount_unit'|trans }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
