<table class="table clickable-rows table-borderless-head">
    <tbody>
        {% for document in product.tecDocDocuments %}
            <tr class="cursor-pointer" onclick="window.open('{{ path('app_document_download_document', {'documentId': document.id}) }}', '_blank')">
                <td class="text-capitalize">{{ document.name }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
