{% set hasVehicle = vehicle|default %}
{% set hasCurrentTaxon = currentTaxon|default and currentTaxon.code != constant('TREE_CODE', currentTaxon) %}
{% set ancestors = hasCurrentTaxon ? currentTaxon.ancestors|reverse : [] %}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('sylius_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a></li>

        {% if hasVehicle %}
            <li class="breadcrumb-item"><a href="{{ path('app_vehicle_manufacturers') }}">{{ 'vehicle.ui.by_automobile'|trans }}</a></li>

            {% if hasCurrentTaxon %}
                <li class="breadcrumb-item"><a href="{{ path_vehicle_product(vehicle) }}">{{ 'vehicle.ui.category_tree'|trans }}</a></li>

                {% for ancestor in ancestors if ancestor.code != constant('TREE_CODE', ancestor) %}
                    <li class="breadcrumb-item"><a href="{{ path_vehicle_product(vehicle, ancestor) }}">{{ ancestor.name }}</a></li>
                {% endfor %}

                <li class="breadcrumb-item active">{{ currentTaxon.name }}</li>
            {% else %}
                <li class="breadcrumb-item">{{ 'vehicle.ui.category_tree'|trans }}</li>
            {% endif %}
        {% else %}
            <li class="breadcrumb-item">{{ 'vehicle.ui.by_automobile'|trans }}</li>
        {% endif %}
    </ol>
</nav>
