{% extends '@SyliusShop/Vehicle/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{% block sidebar %}
    {% include '@SyliusShop/Vehicle/sidebar.html.twig' with {
        'manufacturer': manufacturer,
        'model': model,
    } %}
{% endblock %}

{% block vehicleContent %}
    {{ headers.headerLeftRawRight('vehicle.ui.car_parts_taxon'|trans({
        '%manufacturer%': manufacturer.title,
        '%model%': model.title,
        '%vehicle%': '',
    })) }}

    {% set tableHeadTransKeys = [
        'vehicle.ui.engine',
        'vehicle.ui.power',
        'vehicle.ui.engine_capacity',
        'vehicle.ui.fuel_type',
        'vehicle.ui.model_from',
        'vehicle.ui.model_to',
        'vehicle.ui.cylinder_count',
        'vehicle.ui.valve_count',
    ] %}

    <table id="engines_table" class="table filterable-columns-table clickable-rows bold-thead-placeholders table-borderless-head">
        <thead>
        <tr>
            {% for key in tableHeadTransKeys %}
                <th class="p-0 p-md-1 sticky-to-header bg-white">
                    <input class="form-control px-1 px-md-2" type="text" placeholder="{{ key|trans }}">
                </th>
            {% endfor %}
        </tr>
        </thead>

        <tbody>
        {% for vehicle in vehicles %}
            <tr class="cursor-pointer" onclick="window.location = '{{ path_vehicle_product(vehicle) }}'">
                <td>{{ vehicle.description }}</td>
                <td>{{ vehicle.powerKwTo }}</td>
                <td>{{ vehicle.cylinderCapacity }}</td>
                <td>{{ vehicle.fuelType }}</td>
                <td>{{ vehicle.model.formatedYearOfConstructionFrom }}</td>
                <td>{{ vehicle.model.formatedYearOfConstructionTo }}</td>
                <td>{{ vehicle.cylinders }}</td>
                <td>{{ vehicle.valves }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
