{% extends '@SyliusShop/Vehicle/layout.html.twig' %}

{% block sidebar %}
    {% include '@SyliusShop/Vehicle/sidebar.html.twig' with {
        'manufacturer': vehicle.manufacturer,
        'model': vehicle.model,
        'vehicle': vehicle,
    } %}
{% endblock %}

{% block vehicleContent %}
    <div class="mb-4">
        {% include '@SyliusShop/Common/categoriesIconList.html.twig' with {'taxons': innerTaxons} %}
    </div>

    {% set categoriesTitle %}
        {% if currentTaxon is null %}
            {{ 'vehicle.ui.car_parts_taxon'|trans({
                '%manufacturer%': vehicle.manufacturer.title,
                '%model%': vehicle.model.title,
                '%vehicle%': vehicle.description
            }) }}
        {% else %}
            {{ 'vehicle.ui.categories_taxon'|trans({
                '%manufacturer%': vehicle.manufacturer.title,
                '%model%': vehicle.model.title,
                '%vehicle%': vehicle.description,
                '%taxon%': currentTaxon.name|lower
            }) }}
        {% endif %}
    {% endset %}

    {% include '@SyliusShop/Common/subcategoriesList.html.twig' with {'title': categoriesTitle|trim} %}

    {% include '@SyliusShop/Product/Index/_main.html.twig' %}

{% endblock %}
