{% if manufacturer is defined %}
    <div class="card mb-4">
        <div class="card-header">{{ 'vehicle.ui.selected'|trans }}</div>
        <div class="list-group list-group-flush">
            <div class="list-group-item list-group-item-action">
                <a href="{{ path('app_vehicle_manufacturers') }}">{{ 'vehicle.ui.make'|trans }}:</a>
                {{ manufacturer.title }}
            </div>

            {% if model is defined %}
                <div class="list-group-item list-group-item-action">
                    <a href="{{ path_vehicle_manufacturer(manufacturer) }}">{{ 'vehicle.ui.model'|trans }}:</a>
                    {{ model.title }}
                </div>

                {% if vehicle is defined %}
                    <div class="list-group-item list-group-item-action">
                        <a href="{{ path_vehicle_model(vehicle.manufacturer, vehicle.model) }}">{{ 'vehicle.ui.engine'|trans }}:</a>
                        {{ vehicle.description }}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}
