{% if manufacturer is defined %}
    {% include '@SyliusShop/Vehicle/selectedVehicle.html.twig' %}

    {% if resources is defined %}
        {% include '@SyliusShop/Product/Index/_sidebar.html.twig' %}
    {% endif %}
{% endif %}
