{% if product.imagesByType('thumbnail') is not empty %}
    {% set path = product.imagesByType('thumbnail').first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
{% elseif product.images.first %}
    {% set path = product.images.first.path|imagine_filter(filter|default('sylius_shop_product_thumbnail')) %}
{% else %}
    {% set path = asset('bootstrap-theme/images/product-placeholder.png', 'bootstrapTheme') %}
{% endif %}

<img src="{{ path }}" alt="{{ product.name }}" {% if class is defined %}class="{{ class }}"{% endif %} />
