{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import '@SyliusShop/Product/_mainImagePath.html.twig' as mainImagePath %}

{{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}

<div class="card border-0">
    <a class="product-box-image h-0 pb-100 w-100" href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" style="background-image: url('{{ mainImagePath.get(product) }}')">
    </a>

    <div class="card-body text-center">
        <h6 class="ucfirst">{{ product.name }}</h6>
        {% if not product.variants.empty() %}
            <span class="text-muted">{{ money.calculatePrice(product|sylius_resolve_variant) }} |</span>
        {% endif %}
        <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="card-link">{{ 'sylius.ui.view_more'|trans }}</a>
    </div>
</div>

{{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}
