{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}
{% import '@SyliusShop/Product/_mainImagePath.html.twig' as mainImagePath %}

{{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}
{% set variant = product|sylius_resolve_variant %}
{% set decorated_order_item = get_decorated_order_item_from_variant(variant) %}
{% set productInStock = product.isInStock %}
{% set productLink = path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) %}

<div class="box-search d-flex flex-column flex-md-row">
    <a
        href="{{ productLink }}"
        class="box-search-image-container align-self-center align-self-md-auto position-relative mr-0 mr-md-3 mb-3 mb-md-0"
        style="background-image: url('{{ mainImagePath.get(product) }}')"
    >
        {% if productInStock and decorated_order_item.hasDiscount %}
            <span class="badge badge-pill badge-danger m-3 absolute-top-right font-size-inherit">- {{ decorated_order_item.discountPercentage }}%</span>
        {% endif %}
    </a>

    <div class="d-flex flex-column w-100">
        <div class="d-flex justify-content-between">
            <a class="mr-2 mb-0 h5 ucfirst" href="{{ productLink }}">
                {{ product.name }}
            </a>

            {% if productInStock %}
                {% include '@SyliusShop/Product/Show/_searchPrice.html.twig' %}
            {% endif %}
        </div>

        <div class="row mt-3 mb-3">
            <small class="col flex-column text-nowrap">
                <strong>{{ 'product.ui.stock'|trans }}:</strong>
                <div class="{{ productInStock ? 'text-success' : 'text-danger' }}">
                    {% if productInStock %}
                        <i class="far fa-check-circle mr-1"></i>
                        {{ 'product.ui.stock_available'|trans }}
                    {% else %}
                        <i class="far fa-times-circle mr-1"></i>
                        {{ 'product.ui.stock_unavailable'|trans }}
                    {% endif %}
                </div>
            </small>

            {% if product.brandCode %}
                <small class="col flex-column text-nowrap">
                    <strong>{{ 'vehicle.ui.manufacturer_code'|trans }}:</strong>
                    <div class="text-muted">{{ product.brandCode }}</div>
                </small>
            {% endif %}

            {% if product.brand %}
                <small class="col flex-column text-nowrap">
                    <strong>{{ 'loevgaard_sylius_brand.ui.brand'|trans }}:</strong>
                    <div class="text-muted ucfirst">{{ product.brand.name }}</div>
                </small>
            {% endif %}
        </div>

        {% if not hideAnalogues|default(false) %}
            <div class="my-auto d-flex justify-content-center">
                {% include '@SyliusShop/Product/Show/_analogueModalButton.html.twig' %}
            </div>
        {% endif %}

        {% if productInStock %}
            <div class="d-flex flex-column justify-content-between mt-auto">
                {{ render(url('sylius_shop_partial_cart_add_item', {
                    'template': '@SyliusShop/Product/Show/_searchAddToCart.html.twig',
                    'productId': product.id,
                })) }}
            </div>
        {% endif %}
    </div>
</div>

{{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}
