{% set product = variant.product %}

<div class="media">
    <div class="mr-3">
        {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product, 'filter': 'sylius_shop_product_tiny_thumbnail'} %}
    </div>
    <div class="media-body">
        <h6 class="mt-0 ucfirst">{{ item.productName }}</h6>
    </div>
</div>
