{% macro get(product, filter) %}{% spaceless %}
    {% set filter = filter|default('sylius_shop_product_thumbnail') %}

    {% if product.imagesByType('thumbnail') is not empty %}
        {% set path = product.imagesByType('thumbnail').first.path|imagine_filter(filter) %}
    {% elseif product.images.first %}
        {% set path = product.images.first.path|imagine_filter(filter) %}
    {% else %}
        {% set path = asset('bootstrap-theme/images/product-placeholder.png', 'bootstrapTheme')|imagine_filter(filter) %}
    {% endif %}

    {{ path }}
{% endspaceless %}{% endmacro %}
