{% import '@SyliusShop/Product/_mainImagePath.html.twig' as mainImagePath %}

<img src="{{ mainImagePath.get(product, filter|default) }}" alt="{{ product.name }}" {% if class is defined %}class="{{ class }}"{% endif %} />
