{% extends '@SyliusShop/layout.html.twig' %}

{% block title %} | {{ app.request.attributes.get('slug') }}{% endblock %}

{% block content %}
{% include '@SyliusShop/Product/Index/_header.html.twig' %}
<div class="row">
    <div class="col-12 col-md-4 col-lg-3">
        {% include '@SyliusShop/Product/Index/_sidebar.html.twig' %}
    </div>
    <div class="col-12 col-md-8 col-lg-9">
        {% set bodyTopZoneBanner = omni_sylius_banner_zone('body-top-zone') %}
        {% if bodyTopZoneBanner|trim|length %}
            {{ bodyTopZoneBanner }}<br/>
        {% endif %}

        <div class="mb-4">
            {{ render(url('sylius_shop_partial_taxon_index_by_codes_sorted', {
                'template': '@SyliusShop/Common/categoriesIconList.html.twig',
                'codes': constant('App\\Entity\\Taxonomy\\TaxonInterface::INNER_PAGE_CODES'),
            })) }}
        </div>

        {{ render(url('sylius_shop_partial_taxon_show_by_slug', {
            'slug': app.request.attributes.get('slug'),
            'template': '@SyliusShop/Product/Index/_subcategoriesList.html.twig'
        })) }}

        {% include '@SyliusShop/Product/Index/_main.html.twig' %}
    </div>
</div>
{% endblock %}
