{% extends '@SyliusShop/layout.html.twig' %}

{% block title %} | {{ 'app.ui.product_search'|trans }}{% endblock %}

{% block content %}
    <div class="d-flex flex-column flex-md-row">
        <div class="col-12 col-md-3 px-0 pr-md-3 mb-4 mb-md-0">
            {{ sonata_block_render_event('sylius.shop.product.index.before_search', {'products': resources.data}) }}

            {% set path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
            {% set definition = resources.definition %}
            {% set data = resources.data %}
            {% set count = resources.data.currentPageResults|length %}

            {% if definition.enabledFilters|length > 0 and count %}
                <div class="filter-container mb-4">
                    <form method="get" action="{{ path('omni_sylius_search', {'q': app.request.query.get('q')}) }}" class="loadable">
                        <input type="hidden" name="q" value="{{ app.request.query.get('q') }}"/>
                        <div class="">
                            {% for filter in definition.enabledFilters|sort_by('position') if filter.enabled %}
                            {{ sylius_grid_render_filter(resources, filter) }}
                            {% if loop.index0 % 2 %}
                        </div>
                        <div class="">
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class='mt-2'>
                            <button class="btn btn-primary" type="submit">
                                {{ 'sylius.ui.filter'|trans }}
                            </button>
                            <a class="btn btn-outline-primary" href="{{ path('omni_sylius_search', {'q': app.request.query.get('q')}) }}">
                                {{ 'sylius.ui.clear_filters'|trans }}
                            </a>
                        </div>
                    </form>
                </div>
            {% endif %}

            {{ sonata_block_render_event('sylius.shop.product.index.after_search', {'products': resources.data}) }}
        </div>

        <div class="px-0 col-12 col-md-9 pl-md-3">
            {% include '@SyliusShop/Product/Index/_main.html.twig' %}
        </div>
    </div>
{% endblock %}
