{% extends '@SyliusShop/layout.html.twig' %}

{% block title %} | {{ product.name }}{% endblock %}

{% block content %}
    {% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}
    {% set productInStock = product.isInStock %}

    <div class="d-flex flex-md-row flex-column justify-content-between">
        <div class="d-flex flex-column col-12 col-md-6 mb-0 mb-md-3 mb-lg-4">
            {% include '@SyliusShop/Product/Show/_header.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.product.show.after_product_header', {'product': product}) }}

            {{ sonata_block_render_event('sylius.shop.product.show.before_images', {'product': product}) }}

            {% include '@SyliusShop/Product/Show/_images.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.product.show.after_images', {'product': product}) }}
        </div>
        <div class="col-12 col-md-6 mb-5">
            {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
                {% include '@SyliusShop/Product/Show/_variantsPricing.html.twig' with {'pricing': sylius_product_variant_prices(product, sylius.channel)} %}
            {% endif %}

            {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}

            <table class="table table-borderless-head">
                <tbody>
                <tr>
                    <th>{{ 'product.ui.stock'|trans }}</th>
                    {% if productInStock %}
                        <td class="text-success">
                            <i class="far fa-check-circle mr-1"></i>
                            {{ 'product.ui.stock_available'|trans }}
                        </td>
                    {% else %}
                        <td class="text-danger">
                            <i class="far fa-times-circle mr-1"></i>
                            {{ 'product.ui.stock_unavailable'|trans }}
                        </td>
                    {% endif %}
                </tr>

                {% if product.brand %}
                    <tr>
                        <th>{{ 'loevgaard_sylius_brand.ui.brand'|trans }}</th>
                        <td class="ucfirst">
                            {{ product.brand.name }}
                        </td>
                    </tr>
                {% endif %}

                {% if product.brandCode %}
                    <tr>
                        <th>{{ 'vehicle.ui.manufacturer_code'|trans }}</th>
                        <td>{{  product.brandCode }}</td>
                    </tr>
                {% endif %}

                <tr>
                    <td>
                        {% include '@SyliusShop/Product/Show/_analogueModalButton.html.twig' %}
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>

            {{ sonata_block_render_event('sylius.shop.product.show.after_price', {'product': product}) }}

            <p class="pl-0 pt-2">{{ product.shortDescription }}</p>

            {{ sonata_block_render_event('sylius.shop.product.show.after_description', {'product': product}) }}

            {{ omni_sylius_banner_zone('product-after-description-zone') }}

            {{ sonata_block_render_event('sylius.shop.product.show.after_add_to_cart', {'product': product}) }}
        </div>
    </div>

    {{  sonata_block_render_event('sylius.shop.product.show.before_tabs', {'product': product.attributes}) }}

    <div class="mb-5">
        {% include '@SyliusShop/Product/Show/_tabs.html.twig' %}
    </div>

    {{ sonata_block_render_event('sylius.shop.product.show.before_associations', {'product': product}) }}

    {% include '@SyliusShop/Product/Show/_associations.html.twig' %}
    {% include '@SyliusShop/Product/Show/_analogueModalView.html.twig' %}
{% endblock %}
