{% extends '@SyliusShop/layout.html.twig' %}
{% import '@SyliusUi/Macro/pagination.html.twig' as pagination %}

{% block content %}
    <h1 class="ui monster section dividing header">Results for "{{ searchTerm }}"</h1>
    <div class="search-result-grid">
        {% for resource in results %}
            {% include '@OmniSyliusSearchPlugin/SearchResultSnippets/_product.html.twig' with {result: resource} %}
        {% endfor %}
    </div>
    <div class="ui hidden divider"></div>
    <div class="search-result-pagination">
        {{ pagination.simple(pager) }}
    </div>
{% endblock %}
