{% import '@SyliusShop/Common/Macro/headers.html.twig' as headers %}

<div class="d-flex flex-lg-row flex-column justify-content-between">
    <div class="d-flex flex-column p-0">
        {{ headers.default(header|trans, '', 'sylius.ui.edit_your_items_apply_coupon_or_proceed_to_the_checkout'|trans) }}
    </div>

    <form method="post" class="d-flex flex-column justify-content-center mb-4 mb-lg-0" action="{{ path('sylius_shop_cart_clear') }}" >
        <input type="hidden" name="_method" value="DELETE" />
        <input type="hidden" name="_csrf_token" value="{{ csrf_token(cart.id) }}" />
        <button type="submit" class="btn btn-outline-secondary w-100">
            {{ 'sylius.ui.clear_cart'|trans }}
        </button>
    </form>
</div>
