{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set itemsSubtotal = sylius_order_items_subtotal(cart) %}
{% set taxIncluded = sylius_order_tax_included(cart) %}
{% set taxExcluded = sylius_order_tax_excluded(cart) %}

<div class="card border-0">
    <div class="card-header border rounded-0 font-weight-bold">
        {{ 'sylius.ui.summary'|trans }}
    </div>
    {{ sonata_block_render_event('sylius.shop.cart.summary.totals', {'cart': cart}) }}

    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center border-0">
            {{ 'sylius.ui.items_total'|trans }}:
            <span>{{ money.convertAndFormat(itemsSubtotal) }}</span>
        </li>

        {% if cart.orderPromotionTotal %}
            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                {{ 'sylius.ui.discount'|trans }}:
                <span>{{ money.convertAndFormat(cart.orderPromotionTotal) }}</span>
            </li>
        {% endif %}

        <li class="list-group-item d-flex justify-content-between align-items-center border-0">
            {{ 'sylius.ui.shipping_estimated_cost'|trans }}:
            <span>
                {% if cart.getAdjustmentsTotal('shipping') > cart.shippingTotal %}
                    <small><s>{{ money.convertAndFormat(cart.getAdjustmentsTotal('shipping')) }}</s></small>
                {% endif %}
                {{ money.convertAndFormat(cart.shippingTotal) }}
            </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center border-0 {% if taxIncluded and not taxExcluded %}{% endif %}">
            {{ 'sylius.ui.taxes_total'|trans }}:
            {% if not taxIncluded and not taxExcluded %}
                <span>{{ money.convertAndFormat(0) }}</span>
            {% endif %}
            {% if taxExcluded %}
                <span>{{ money.convertAndFormat(taxExcluded) }}</span>
            {% endif %}
            {% if taxIncluded %}
                <span><small>({{ 'sylius.ui.included_in_price'|trans }})</small> {{ money.convertAndFormat(taxIncluded) }}</span>
            {% endif %}
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center border-0">
            <strong>{{ 'sylius.ui.order_total'|trans }}:</strong>
            <span class="h3">{{ money.convertAndFormat(cart.total) }}</span>
        </li>

        {% if cart.currencyCode is not same as(sylius.currencyCode) %}
            <li class="list-group-item d-flex justify-content-between align-items-center border-0">
                {{ 'sylius.ui.base_currency_order_total'|trans }}:
                <span>{{ money.format(cart.total, cart.currencyCode) }}</span>
            </li>
        {% endif %}
    </ul>
</div>
