{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

<div data-js-rating
     data-js-rating-max="5"
     data-js-rating-average="{{ average }}"
     data-js-rating-viewonly="{{ viewonly }}">

    <div data-js-rating-btn-on>{{ icons.star('text-orange') }}</div>
    <div data-js-rating-btn-off>{{ icons.star('text-muted') }}</div>
</div>
