{% include '@SyliusShop/Homepage/_infoDropdown.html.twig' %}

{{ sonata_block_render_event('sylius.shop.layout.before_currency_switcher') }}

{{ render(controller('sylius.controller.shop.currency_switch:renderAction')) }}

{{ render(controller('sylius.controller.shop.locale_switch:renderAction')) }}
