<a class="btn btn-sm btn-link text-nowrap" href="mailto:{{ 'app.ui.info_mail_name'|trans }}">
    <i class="far fa-envelope mr-2"></i>{{ 'app.ui.info_mail_name'|trans }}
</a>

<a class="btn btn-sm btn-link text-nowrap" href="tel:{{ 'app.ui.contact_us_phone_number'|trans }}">
    <i class="fas fa-mobile-alt mr-2"></i>{{ 'app.ui.contact_us_phone_number'|trans }}
</a>
