{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{% block content %}
    {{ omni_sylius_banner_zone('homepage-header-top') }}

    {% include '@SyliusShop/Homepage/_mainBlock.html.twig' %}

    {% set weeklyProductSlider %}
        {{ render(url(
            'sylius_shop_weekly_product',
            {
                'template': '@SyliusShop/Product/_sliderHorizontalList.html.twig',
                'sliderHeaderText': 'product.ui.weekly_products'|trans,
            }
        )) }}
    {% endset %}

    {{ weeklyProductSlider }}

    {{ render(url(
            'sylius_shop_most_popular_product',
            {
                'template': '@SyliusShop/Product/_sliderHorizontalList.html.twig',
                'sliderHeaderText': 'product.ui.most_popular_products'|trans,
                'sliderHeaderClass': weeklyProductSlider|trim|length ? 'mt-5' : '',
            }
    )) }}

    {{ omni_sylius_banner_zone('homepage-bottom-bottom') }}
{% endblock %}
