{% for option_form in form.cartItem.variant %}
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex flex-column w-25 text-left">
            {% if not product.variants.empty() %}
                {{ 'loevgaard_sylius_brand.form.product.price'|trans }}:
                {% include '@SyliusShop/Product/Show/_price.html.twig' %}
            {% endif %}

            <small class="d-flex flex-column">
                <strong>{{ 'loevgaard_sylius_brand.form.brand.code'|trans }}:</strong>
                <div class="text-muted">{{ product.code }}</div>
            </small>
        </div>

        <div class="w-50">
            {{ form_row(option_form, { 'attr': { 'data-option': option_form.vars.name } }) }}
        </div>
    </div>
{% endfor %}
