<div class="text-center my-3">
    <a class="h2 btn btn-sm btn-link text-nowrap" href="tel:{{ 'app.ui.contact_us_phone_number'|trans }}">
        <i class="fas fa-mobile-alt mr-2"></i>{{ 'app.ui.contact_us_phone_number'|trans }}
    </a>

    <div class="mb-3">{{ 'sylius.ui.need_assistance'|trans }} {{ 'sylius.ui.call_us'|trans }}</div>
    <div class="h1 d-flex flex-column">
        <img class="logo m-auto" src="{{ asset('ad-theme/images/paysera.png', 'ADTheme') }}" alt="Paysera.lt" />

        <div class="d-flex flex-row justify-content-center mt-2">
            <i class="fab fa-cc-mastercard"></i>
            <i class="ml-1 mr-1 fab fa-cc-visa"></i>
            <i class="fab fa-cc-paypal"></i>
        </div>
    </div>
</div>
