{% macro default(header, options = {}) %}
    <h3 class="mb-5 text-center {{ options.class is defined ? options.class : '' }}">
        {{ header }}

        {% if options.raw is defined %}
            {{ options.raw|raw }}
        {% endif %}
    </h3>
{% endmacro %}

{% macro small(header, options = {}) %}
    <h4 class="mb-4 text-center {{ options.class is defined ? options.class : '' }}">
        {{ header }}

        {% if options.raw is defined %}
            {{ options.raw|raw }}
        {% endif %}
    </h4>
{% endmacro %}

{% macro headerLeftRawRight(header, raw = '', size = 'default') %}
    <div class="d-flex justify-content-between align-items-start">
        {% if size == 'small' %}
            {{ _self.small(header) }}
        {% else %}
            {{ _self.default(header) }}
        {% endif %}

        {{ raw|raw }}
    </div>

{% endmacro %}
