{% extends '@SyliusShop/layout.html.twig' %}

{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{% block content_wrapper %}
    {{ omni_sylius_banner_zone('homepage-hero') }}

    <div class="container">
        {{ omni_sylius_banner_zone('homepage-header-top') }}

        <div class="divider div-transparent--gray-light div-dot--gray-light mb-5"></div>


        {{ headers.default('sylius.ui.latest_products'|trans) }}

        {{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Product/_horizontalList.html.twig'})) }}

        {{ omni_sylius_banner_zone('homepage-bottom-bottom') }}
    </div>
{% endblock %}
