{%- macro format(amount, currency_code) -%}
    {{ amount|sylius_format_money(currency_code, sylius.localeCode) }}
{%- endmacro -%}

{%- macro convertAndFormat(amount) -%}
    {% from _self import format %}

    {{- format(amount|sylius_convert_money(sylius.channel.baseCurrency.code, sylius.currencyCode), sylius.currencyCode) }}
{%- endmacro -%}

{%- macro calculatePrice(variant) -%}
    {% from _self import convertAndFormat %}

    {{- convertAndFormat(variant|sylius_calculate_price({'channel': sylius.channel})) }}
{%- endmacro -%}

{%- macro discountPercentage(variant) -%}
{% spaceless %}
    {% from _self import convertAndFormat %}

    {% set channelPrice = variant.channelPricingForChannel(sylius.channel) %}
    {% set price = channelPrice.price %}
    {% set originalPrice = channelPrice.originalPrice %}
    {% set discountPercentage = 0 %}

    {% if originalPrice > 0 %}
        {% set discountPercentage = ((100 - (price / originalPrice) * 100))|round(0) %}
    {% endif %}

    {{- discountPercentage }}
{% endspaceless %}
{%- endmacro -%}

{%- macro calculateOriginalPrice(variant) -%}
    {% spaceless %}
        {% from _self import convertAndFormat %}
        {% set channelPrice = variant.channelPricingForChannel(sylius.channel) %}
        {{- convertAndFormat(channelPrice.originalPrice|default(0)) }}
    {% endspaceless %}
{%- endmacro -%}
