.upper-header .btn-link {
  color: $body-color;
}

.locales-dropdown {
  z-index: $zindex-sticky + 1;
}

.select2-dropdown {
  z-index: $zindex-sticky - 1;
}

header {
  height: $header-height;

  .logo {
    max-height: 45px;
  }
}

footer {
  @include media-breakpoint-up(md) {
    .shop-description,
    .form-group {
      max-width: 375px;
      width: 100%;
    }
  }

  .fa-facebook {
    color: #3a3086;

    &:hover {
      color: #000000;
    }
  }
}

.homepage-banner-slider-container > div {
  padding-left: 5px;
  padding-right: 5px;
}

.add-to-card {
  margin-top: 2.5rem;
}

.vehicles-manufacturers-list {
  column-count: 2;

  @include media-breakpoint-up(md) {
    column-count: 4;
  }
}

.vehicles-manufacturers-logos a {
  width: calc(20% - 10px);

  &:first-child {
    margin-bottom: 10px;
  }

  @include media-breakpoint-up(sm) {
    width: calc(10% - 10px);

    &:first-child {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(md) {
    width: calc(10% - 25px);
  }

  @include media-breakpoint-up(lg) {
    width: calc(10% - 35px);
  }
}

#models_table_filter,
#engines_table_filter {
  display: none;
}

.categories-icon-list {
  a {
    width: 25%;

    &:nth-child(n+10) {
      margin-top: 1.25rem;
    }

    @include media-breakpoint-up(md) {
      width: 14.28%;
    }

    @include media-breakpoint-up(lg) {
      width: 11.11%;
    }

    @include media-breakpoint-down(sm) {
      &:nth-child(n+5) {
        margin-top: 1.25rem;
      }
    }

    @include media-breakpoint-down(md) {
      &:nth-child(n+8) {
        margin-top: 1.25rem;
      }
    }
  }

  small {
    font-size: 66%;
    line-height: 1.4;
  }
}

.subcategories-list {
  a {
    width: 100%;
  }

  @include media-breakpoint-up(sm) {
    a {
      width: 33%;
    }
  }
}

.select2-container {
  max-width: 100% !important;
}

.select2-container--bootstrap4 .select2-selection {
  border-color: $border-color;
  box-shadow: none;
}

.box-search {
  + .box-search {
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .form-group {
    margin-bottom: 0;
  }

  .box-search-image-container {
    background-repeat:no-repeat;
    background-position: center top;
    background-size: contain;
    width: 100%;
    min-height: 180px;
    height: 180px;

    @include media-breakpoint-up(md) {
      width: 140px;
      min-width: 140px;
      height: auto;
      min-height: 140px;
    }

    @include media-breakpoint-up(lg) {
      width: 180px;
      min-width: 180px;
      min-height: 180px;
    }
  }
}

.product-show-main-image {
  background-repeat:no-repeat;
  background-position: center;
  background-size: contain;

  img {
    object-fit: scale-down;
  }

  @include media-breakpoint-down(sm) {
    background-image: none !important;
    max-height: 250px;
  }

  @include media-breakpoint-up(md) {
    padding-bottom: 0;
    height: 100%;
  }

  @include media-breakpoint-up(xl) {
    min-height: 380px;
  }
}

.nav-tabs .nav-link {
  border-bottom: $border-width solid $border-color !important;
}

.cms-content {
  h1 {
    margin-bottom: 1rem;
  }
}

.shop-address {
  color: $link-color;
}

.shop-stock-icon-container {
  width: 30px;
  height: 20px;
  font-size: 12px;
}

.noUi-connect {
  background-color: $primary !important;
}

.product-box-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.tec-doc-logo {
  min-width: 100px;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .ui .container {
    .footer__grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.col-6, .col-lg-3 {
  padding-right: 15px;
  padding-left: 15px;
}

.tec-doc-description {
  padding-top: 35px;
}

.pr-3 {
  padding-right: 1rem;
}

.row > * {
  padding-right: 0;
}

.mr-2, .mx-2 {
  margin-right: .5rem;
}

.cookie-modal {
  z-index: 9999999999999 !important;
}

@media (max-width: 640px) {
  .ch-cookie-consent__category-toggle input:checked + label, .ch-cookie-consent__category-toggle input + label:hover {
    width: 40.53px;
  }

  .ch-cookie-consent__category-toggle input + label {
    width: 40.53px;
    text-align: center;
  }
}

.ch-cookie-consent__category-toggle input + label {
  width: 40.53px;
}
