<div class="row align-items-center no-gutters w-100">
    <div class="col-auto mr-0 mr-sm-3">
        <a href="{{ path('sylius_shop_homepage') }}">
            <img class="logo w-auto" src="{{ asset('ad-theme/images/logo.png', 'ADTheme') }}" alt="Automobiliudetales.lt logo" />
        </a>
    </div>

    <div class="col-auto">
        {{ sonata_block_render_event('sylius.shop.layout.header') }}
    </div>

    <div class="col d-flex align-items-center">
        <div class="d-none d-lg-block text-right w-100">
            {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

            {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
        </div>
        <div class="ml-auto pl-0 pl-sm-4">
            {{ render(url('sylius_shop_partial_cart_summary', {'template': '@SyliusShop/Cart/_widget.html.twig'})) }}
        </div>
    </div>
    <div class="col-auto d-lg-none ml-2">
        <div class="navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>
