{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui center aligned icon header">
        <img src="{{ asset('ad-theme/images/logo.png', 'ADTheme') }}" alt="Automobiliudetales.lt logo" class="ui small image" />
        <br/><br/>
        {{ 'sylius.ui.unexpected_error_occurred'|trans }}
    </h2>

{% endblock %}
