{% extends '@SyliusShop/layout.html.twig' %}

{% block title %} | {{ 'app.ui.register'|trans }}{% endblock %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}

    {{ sonata_block_render_event('sylius.shop.register.after_content_header') }}

    <div class="card col-12 col-lg-6 col-md-8 m-auto">
        <div class="card-body">
            {{ sonata_block_render_event('sylius.shop.register.before_form') }}

            {{ form_start(form, {'action': path('sylius_shop_register'), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}
                {% include '@SyliusShop/Register/_form.html.twig' %}

                {{ sonata_block_render_event('sylius.shop.register.form', {'form': form}) }}

                <button type="submit" class="btn btn-primary">
                    {{ 'sylius.ui.create_an_account'|trans }}
                </button>
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
