<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="icon" href="{{ asset('/favicon.ico') }}" type="image/x-icon">

    <title>Under Maintenance</title>

    {{ encore_entry_link_tags('ad-app', null, 'ADTheme') }}
</head>
<body>
    <div class="text-center">
        <h2>Under Maintenance</h2>
        <p>We will be down for a short time.<br>Please check back later.</p>
    </div>
</body>
</html>
