{% extends '@SyliusAdmin/layout.html.twig' %}

{% block title %}{{ 'app.ui.shop_maintenance_mode'|trans }}{% endblock %}

{% block content %}

    <div class="ui active tab" data-tab="maintenance">
        <h3 class="ui top attached header">{{ 'app.ui.shop_maintenance_mode'|trans }}</h3>
        <div class="ui attached segment">
            {% if isUnderMaintenance %}
                <p>
                    <a href="{{ path('app_admin_maintenance_toggle') }}" class="ui red button" onclick="return confirm('{{ 'app.ui.maintenance_mode_confirm'|trans }}');">
                        {{ 'app.ui.maintenance_mode_enabled'|trans }}
                    </a>
                </p>
            {% else %}
                <p>
                    <a href="{{ path('app_admin_maintenance_toggle') }}" class="ui green button" onclick="return confirm('{{ 'app.ui.maintenance_mode_confirm'|trans }}');">
                        {{ 'app.ui.maintenance_mode_disabled'|trans }}
                    </a>
                </p>
            {% endif %}
        </div>
    </div>

    <br/>

    <div class="ui active tab" data-tab="whitelist">
        <h3 class="ui top attached header">{{ 'app.ui.maintenance_mode_whitelist'|trans }}</h3>
        <div class="ui attached segment">
            <form class="ui form" action="{{ path('app_admin_maintenance_whitelist') }}" method="post">
                <div class="field">
                    <label for="whitelist">{{ 'app.ui.maintenance_mode_whitelist_label'|trans }}</label>
                    <div class="ui input">
                        <input type="text" name="whitelist" id="whitelist" placeholder="0.0.0.0,4.4.4.4" value="{{ whitelist }}"/>
                    </div>
                </div>
                <button class="ui button" type="submit">{{ 'sylius.ui.save'|trans }}</button>
            </form>
        </div>
    </div>

{% endblock %}
