{% if locales|length > 1 %}
    <div class="dropdown ml-auto d-inline-block">
        <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            {{ active|sylius_locale_name(active) }}
        </button>

        <div class="dropdown-menu dropdown-menu-md-right locales-dropdown">
            {% for code in locales %}
                {% if code is not same as(active) %}
                    <a class="dropdown-item" href="{{ path('sylius_shop_switch_locale', {'code': code}) }}">
                        {{ code|sylius_locale_name(code) }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
