<div id="shipping-methods" class="mb-4">
    <h1 class="mb-4">{{ 'sylius.ui.shipment'|trans }}</h1>
    <div>
        {{ form_errors(form.method) }}
        {% set store_shipment_choices = [] %}

        {% for key, choice_form in form.method %}
            {% set fee = form.method.vars.shipping_costs[choice_form.vars.value] %}
            {% set method = form.method.vars.choices[key].data %}

            {% if (choice_form.vars.value matches '/(?:moki_)/') or (choice_form.vars.value matches '/(?:S0)/') %}
                {% set store_shipment_choices = store_shipment_choices|merge([choice_form]) %}
            {% endif %}
        {% endfor %}

        {% if store_shipment_choices|length > 0 %}
            <div class="list-group shipping-accordion mb-2" role="button" data-toggle="collapse" data-target="#shippingCollapse" aria-expanded="false" aria-controls="shippingCollapse">
                <div class="list-group-item flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <h5 class="shipping-accordion__title">
                            {{ 'shop24.ui.pickup_at_shop'|trans }}
                        </h5>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </div>
                </div>
            </div>
            <div class="collapse shipping-accordion__content mb-2" id="shippingCollapse">
                {% for key, choice_form in store_shipment_choices %}
                    {% set fee = form.method.vars.shipping_costs[choice_form.vars.value] %}
                    {% set method = form.method.vars.choices[key].data %}
                    {% include '@SyliusShop/Checkout/SelectShipping/_choice.html.twig' with {'form': choice_form, 'method': method, 'fee': fee} %}
                {% endfor %}
            </div>
        {% endif %}

        {% for key, choice_form in form.method %}
            {% set fee = form.method.vars.shipping_costs[choice_form.vars.value] %}
            {% set method = form.method.vars.choices[key].data %}

            {% if (choice_form.vars.value matches '/(?:moki_)/') or (choice_form.vars.value matches '/(?:S0)/') %}

            {% else %}
                {% include '@SyliusShop/Checkout/SelectShipping/_choice.html.twig' with {'form': choice_form, 'method': method, 'fee': fee} %}
            {% endif %}
        {% else %}
            {% include '@SyliusShop/Checkout/SelectShipping/_unavailable.html.twig' %}
        {% endfor %}

        {% if form.parcelMachine is defined %}
            {{ form_row(form.parcelMachine, {'label':  ('shop24.ui.parcel_machine'|trans) }) }}
        {% endif %}
    </div>
</div>
