{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Checkout/_steps.html.twig' with {'active': 'select_payment', 'orderTotal': order.total} %}

    {{ sonata_block_render_event('sylius.shop.checkout.select_payment.after_steps', {'order': order}) }}

    <div class="row">
        <div class="col-12 col-lg-8 mb-5">
            {{ sonata_block_render_event('sylius.shop.checkout.select_payment.before_form', {'order': order}) }}

            {{ form_start(form, {'action': path('sylius_shop_checkout_select_payment'), 'attr': {'class': 'loadable', 'novalidate': 'novalidate'}}) }}
                {{ form_errors(form) }}
                <input type="hidden" name="_method" value="PUT" />

                {% include '@SyliusShop/Checkout/SelectPayment/_form.html.twig' %}

                {% if form.consent is defined %}
                    {% for consent in form.consent %}
                        <label class="{{ consent.vars.required ? "required" : "" }}">
                            <input type="checkbox" name="{{ consent.vars.full_name }}"{{ consent.vars.checked ? "checked='checked'" : '' }} />
                            {{ consent.vars.label|raw }}
                        </label>
                        {{ form_errors(consent) }}<br />
                    {% endfor %}
                {% endif %}

                {{ sonata_block_render_event('sylius.shop.checkout.select_payment.before_navigation', {'order': order}) }}
                {% include '@SyliusShop/Checkout/SelectPayment/_navigation.html.twig' %}

                {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
        <div class="col-12 col-lg-4">
            {{ sonata_block_render_event('sylius.shop.checkout.select_payment.before_summary', {'order': order}) }}

            {% include '@SyliusShop/Checkout/_summary.html.twig' with {'order': order} %}

            {{ sonata_block_render_event('sylius.shop.checkout.select_payment.before_support', {'order': order}) }}

            {% include '@SyliusShop/Checkout/_support.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.checkout.select_payment.after_support', {'order': order}) }}
        </div>
    </div>
{% endblock %}
