{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set itemsSubtotal = sylius_order_items_subtotal(order) %}
{% set taxIncluded = sylius_order_tax_included(order) %}
{% set taxExcluded = sylius_order_tax_excluded(order) %}

{% set orderPromotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}
{% set orderPromotions = sylius_aggregate_adjustments(order.adjustmentsRecursively(orderPromotionAdjustment)) %}

<tr>
    <td colspan="4">
        <strong>{{ 'sylius.ui.items_total'|trans }}:</strong> {{ money.convertAndFormat(itemsSubtotal) }}
    </td>
</tr>
{% set serviceFeeAdjustment = order.getAdjustmentsTotal(constant('App\\Entity\\Order\\Adjustment::SERVICE_FEE_ADJUSTMENT')) %}
{% if serviceFeeAdjustment > 0 %}
    <tr>
        <td colspan="4" class="right aligned" id="service-fee">
            <b>{{ 'shop24.ui.service_fee'|trans }}</b>: {{ money.convertAndFormat(serviceFeeAdjustment) }}
        </td>
    </tr>
{% endif %}
<tr>
    <td colspan="4">
        <strong>{{ 'sylius.ui.discount'|trans }}:</strong> {{ money.convertAndFormat(order.orderPromotionTotal)  }}
        {% if order.orderPromotionTotal != 0 %}
            <span title="{% for key, value in orderPromotions %}<div>{{ key }}: {{ money.convertAndFormat(value) }}</div>{% endfor %}" data-toggle="tooltip" data-placement="top" >
                <i class="fas fa-question-circle"></i>
            </span>
        {% endif %}
    </td>
</tr>

{% if order.taxTotal > 0 %}
    <tr>
        <td colspan="4">
            <strong>{{ 'sylius.ui.taxes'|trans }}:</strong> {{ money.convertAndFormat(order.taxTotal)  }}
        </td>
    </tr>
{% endif %}
<tr>
    {% include '@SyliusShop/Common/Order/Table/_shipping.html.twig' with {'order': order} %}
</tr>
<tr>
    <td colspan="4" class="h3">
        {{ 'sylius.ui.total'|trans }} <small>({{ 'shop24.ui.cart_pvm_msg'|trans }} 21%)</small>: {{ money.convertAndFormat(order.total) }}
    </td>
</tr>
{% if order.currencyCode is not same as(sylius.currencyCode) %}
    <tr>
        <td colspan="4">
            {{ 'sylius.ui.total_in_base_currency'|trans }} ({{ 'shop24.ui.cart_pvm_msg'|trans }} 21%): {{ money.format(order.total, order.currencyCode) }}
        </td>
    </tr>
{% endif %}
