{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% set discountPercentage = money.discountPercentage(product|sylius_resolve_variant).__toString %}

<div class="h3" data-js-product-price>
    {% if discountPercentage > 0 %}
    <span class="item-price item-price--disabled">
        {{ money.calculateOriginalPrice(product|sylius_resolve_variant) }}
    </span>
    <span class="item-price item-price--new">
        {{ money.calculatePrice(product|sylius_resolve_variant) }}
    </span>
    {% else %}
        {{ money.calculatePrice(product|sylius_resolve_variant) }}
    {% endif %}
    <span class="item-price item-price--percentage">
        {% if discountPercentage > 0 %}
            -{{ discountPercentage }}%
        {% endif %}
    </span>
</div>
