<div class="row">
    <div class="col">{{ form_row(form.firstName) }}</div>
    <div class="col">{{ form_row(form.lastName) }}</div>
</div>

{{ form_row(form.phoneNumber) }}
{{ form_row(form.company) }}

{% include '@SyliusShop/Common/Form/_countryCode.html.twig' with {'form': form.countryCode} %}

{{ form_row(form.city) }}

<div class="form-group">
    <label>{{ 'sylius.form.user.address_search'|trans }}</label>

    <select class="address-select w-100"
            data-searching="{{ 'app.ui.searching'|trans }}"
            data-searching-by-city="{{ 'app.ui.searching_in_city'|trans }}"
            data-placeholder="{{ 'sylius.form.user.address_search'|trans }}"
            >
    </select>
</div>

{{ form_row(form.street) }}
{{ form_row(form.houseNumber) }}
{{ form_row(form.postcode) }}
{{ form_row(form.apartmentNumber) }}
