<footer id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="footer__grid">
            {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}

            {% set node = omni_sylius_get_node_by_type('footer_menu', 2) %}

            {% for placeholder in node.children|default([]) if placeholder.enabled %}
                <div class="three wide column">
                    <h4 class="ui inverted header">{{ placeholder.translation.title|trans }}</h4>
                    <div class="ui inverted link list">
                        {% for item in placeholder.children if item.enabled %}
                            {% set url = omni_sylius_get_node_url(node) %}
                            {% if url.url is empty %}
                                <span class="item">{{ node.translation.title }}</span>
                            {% else %}
                                <a href="{{ url.url }}"{% if url.target %} target="{{ url.target }}"{% endif %} class="item">{{ node.translation.title }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <div class="footer__grid__col">
                <h4 class="ui inverted header mt-4">&copy; {{ 'shop24.ui.stovendo'|trans }}</h4>
            </div>
            {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
        </div>
    </div>
</footer>
