{% macro node_item(node) %}
    {% import _self as macros %}

    {% if node.children|length > 0 %}
        <span class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                {{ node.translation.title }}
            </a>
            <div class="dropdown-menu">
                {% for child in node.children %}
                    {{ macros.node_item(child) }}
                {% endfor %}
            </div>
        </span>
    {% else %}
        {% if omni_sylius_is_node_linkable(node) %}
            <a href="{{ node.link }}" class="nav-item nav-link">{{ node.translation.title }}</a>
        {% elseif omni_sylius_is_node_related(node) %}
            {% set relation = omni_sylius_get_relation(node) %}
            <a href="{{ path('sylius_shop_product_index', {'slug': relation.slug, '_locale': relation.translation.locale}) }}" class="nav-item nav-link">{{ omni_sylius_get_relation_label(relation) }}</a>
        {% else %}
            <a href="{{ path('omni_sylius_cms_frontend_show', {'slug': node.translation.slug, '_locale': node.translation.locale}) }}" class="nav-item nav-link">{{ node.translation.title }}</a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% import _self as macros %}


<nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
        <div class="navbar-nav py-1">
            {% set headerNode = omni_sylius_get_node_by_type('main_menu') %}

            {% if null != headerNode %}
                {% for node in headerNode.children %}
                    {% if node.enabled%}
                        {{ macros.node_item(node) }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="d-md-none py-3 border-top">
            {{ sonata_block_render_event('sylius.shop.layout.before_security_widget') }}

            {{ render(controller('sylius.controller.shop.security_widget:renderAction')) }}

            {{ sonata_block_render_event('sylius.shop.layout.after_security_widget') }}
        </div>
    </div>
</nav>
