{% for product in analogues %}
    {% include '@SyliusShop/Product/_boxSearch.html.twig' with {'hideAnalogues': true} %}
{% else %}
    <div class="text-center">
        {{ 'app.ui.nothing_found'|trans }}
    </div>
{% endfor %}
