<div class="modal" id="analogue-modal" tabindex="-1" role="dialog" aria-labelledby="analogueModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <div id="analogue-card-loading" class="text-center ml-auto d-none">
                    <span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                    {{ 'app.ui.loading'|trans }}...
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i  aria-label="Close" aria-hidden="true" class="far fa-times-circle"></i>
                </button>
            </div>

            <div id="modal-error-container" class="pb-3 pt-0 text-center d-none">
                {{ 'app.ui.nothing_found'|trans }}
            </div>

            <div id="analogue-modal-body" class="modal-body pt-0 d-none">
            </div>
        </div>
    </div>
</div>
