<button
        type="button"
        data-request-path="{{ path('product_analog_ajax', {'productId': product.id}) }}"
        class="analogue-modal-button btn btn-link p-0 text-decoration-none"
        data-toggle="modal"
        data-target="#analogue-modal"
>
    <i class="fas fa-link"></i>
    {{ 'product.ui.analogues'|trans }}
</button>
