<div class="card-header bg-transparent pt-0 px-0 border-bottom-0">
    <nav class="nav nav-tabs card-header-tabs">
        {% for manufacturer in vehicleManufacturers %}
            {% set isActive = requestedManufacturerId ? requestedManufacturerId == manufacturer.id : loop.index0 == 0 %}

            <a class="nav-item nav-link mb-0 py-2 {{ isActive ? 'active' : '' }}" href="{{ path('sylius_shop_product_show', {'slug': product.slug, 'a': articleId, 'm': manufacturer.id}) }}">
                <small>{{ manufacturer.title }}</small>
            </a>
        {% endfor %}
    </nav>
</div>

<table class="table mt-4 clickable-rows table-borderless-head">
    <thead>
    <tr>
        <th>{{ 'vehicle.ui.manufacturer'|trans }}</th>
        <th>{{ 'vehicle.ui.model'|trans }}</th>
        <th>{{ 'vehicle.ui.model_from'|trans }}</th>
        <th>{{ 'vehicle.ui.engine'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for vehicle in vehicles %}
        <tr class="cursor-pointer" onclick="window.location = '{{ vehicle.url }}'">
            <td>{{ vehicle.manufacturerTitle }}</td>
            <td>{{ vehicle.modelTitle }}</td>
            <td>{{ vehicle.constructionYear }}</td>
            <td>{{ vehicle.engine }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
