<div class="d-none">
    {% for option_form in form.cartItem.variant %}
        {{ form_row(option_form, { 'attr': { 'data-option': option_form.vars.name, 'class': 'd-none' }, 'choices': [option_form.vars.choices|first], 'label': false }) }}
    {% endfor %}
</div>
