{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% if not product.variants.empty() %}
    {% set variant = product|sylius_resolve_variant %}
    {% set decorated_order_item = get_decorated_order_item_from_variant(variant) %}

    <h1 class="mb-2 text-dark d-flex justify-content-between">
        <div>
            {{ 'loevgaard_sylius_brand.form.product.price'|trans }}:

            {% if decorated_order_item.hasDiscount %}
                <small class="ml-1 text-muted text-strikethrough">{{ money.convertAndFormat(decorated_order_item.fullPrice) }}</small>
            {% endif %}

            <strong class="ml-1">{{ money.convertAndFormat(decorated_order_item.discountedPrice) }}</strong>
        </div>

        {% if decorated_order_item.hasDiscount %}
            <span class="badge badge-pill badge-danger align-self-center">- {{ decorated_order_item.discountPercentage }}%</span>
        {% endif %}
    </h1>
{% endif %}
