{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% if not product.variants.empty() %}
    {% set variant = product|sylius_resolve_variant %}
    {% set decorated_order_item = get_decorated_order_item_from_variant(variant) %}

    <div class="h4 {{ class|default('') }}">
        {% if decorated_order_item.hasDiscount %}
            <small class="text-muted text-strikethrough">{{ money.convertAndFormat(decorated_order_item.fullPrice) }}</small>
        {% endif %}

        <strong class="ml-1">{{ money.convertAndFormat(decorated_order_item.discountedPrice) }}</strong>
    </div>
{% endif %}
