{% import "@SyliusShop/Common/Macro/icons.html.twig" as icons %}

{% set product = order_item.variant.product %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

<div>
    {{ form_start(form, {'action': path('sylius_shop_ajax_cart_add_item', {'productId': product.id}), 'attr': {'id': 'sylius-product-adding-to-cart', 'data-js-add-to-cart': 'form', 'class': 'loadable', 'novalidate': 'novalidate', 'data-redirect': path(configuration.getRedirectRoute('summary'))}}) }}
    {{ form_errors(form) }}
    <div class="alert alert-danger d-none" data-js-add-to-cart="error"></div>

    <div class="row align-items-end">
        <div class="col-4">
            {{ form_row(form.cartItem.quantity) }}
        </div>
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary">
                    <span class="btn-icon">{{ icons.cart() }}</span>
                    {{ 'sylius.ui.add_to_cart'|trans }}
                </button>
            </div>
        </div>
    </div>

    {#TODO: remove product variants when options are gone#}
    <div class="d-none">
        {% if form.cartItem.variant is defined %}
            {% for option_form in form.cartItem.variant %}
                {{ form_row(option_form, { 'attr': { 'data-option': option_form.vars.name, 'class': 'd-none' } }) }}
            {% endfor %}
        {% endif %}
    </div>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
