{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

<div class="d-none">
    {{ form_widget(form.cartItem.variant|last, { 'label': false, 'checked': true, 'attr': { 'class': 'd-none' }}) }}
</div>
