{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
{% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}

<div class="row">
    <div class="col-12 col-md-6 mb-5">
        <div class="pr-3">
            {{ sonata_block_render_event('sylius.shop.product.show.before_images', {'product': product}) }}

            {% include '@SyliusShop/Product/Show/_images.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.product.show.after_images', {'product': product}) }}
        </div>
    </div>
    <div class="col-12 col-md-6 mb-5 mt-4">
        {% include '@SyliusShop/Product/Show/_header.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.product.show.after_product_header', {'product': product}) }}

        <div class="d-flex justify-content-between align-items-center mb-2 pb-3 border-bottom">
            {% if not product.variants.empty() %}
                {% include '@SyliusShop/Product/Show/_price.html.twig' %}
            {% endif %}
            {% include '@SyliusShop/Product/Show/_reviews.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.product.show.after_reviews', {'product': product}) }}
        </div>

        {{ sonata_block_render_event('sylius.shop.product.show.after_price', {'product': product}) }}

        <div class="m-2">
            <h4 class="mt-3">{{ 'shop24.ui.description'|trans }}</h4>
            <p class="pb-2 product-description">{{ product.shortDescription }}</p>
        </div>
        {{ sonata_block_render_event('sylius.shop.product.show.after_description', {'product': product}) }}

        {{ omni_sylius_banner_zone('product-after-description-zone') }}

        {% include '@SyliusShop/Product/Show/_attributes.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.product.show.after_attributes', {'product': product}) }}

        {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' and not product.variants.empty() %}
            {% include '@SyliusShop/Product/Show/_variantsPricing.html.twig' with {'pricing': sylius_product_variant_prices(product, sylius.channel)} %}
        {% endif %}
        {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}

        {{ sonata_block_render_event('sylius.shop.product.show.after_add_to_cart', {'product': product}) }}
    </div>
</div>

<div class="mb-5 pb-5 xs-container">
    {% include '@SyliusShop/Product/Show/_details.html.twig' %}
</div>

<div class="mb-5 pb-5 sm-container">
    {% include '@SyliusShop/Product/Show/_reviewsList.html.twig' %}
</div>

{% include '@SyliusShop/Product/Show/_associations.html.twig' %}
{% endblock %}
