{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

{% for association in product.associations %}
    {{ render(url('sylius_shop_partial_product_association_show', {'productId': product.id, 'id': association.id, 'template': '@SyliusShop/Product/Show/_association.html.twig'})) }}
{% else %}
    <h2 class="text-center mb-5" style="font-size: 1.85rem;"><strong>{{ 'shop24.ui.you_may_also_like'|trans }}</strong></h2>

    {{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Product/_horizontalListV3.html.twig'})) }}
{% endfor %}
