{{ sonata_block_render_event('sylius.shop.product.show.before_details', {'product': product}) }}

{% if product.description is not empty %}
    <h2 class="text-center mb-3" style="font-size: 1.85rem;"><strong>{{ 'shop24.ui.about_the_product'|trans }}</strong></h2>
    <p>
        {{ product.description | nl2br }}
    </p>
{% else %}
    {{ 'sylius.ui.no_description'|trans }}.
{% endif %}
