<h2 class="text-center mb-5" style="font-size: 1.85rem;"><strong>{{ 'shop24.ui.customer_reviews'|trans }}</strong></h2>
<div class="d-flex justify-content-between align-items-center">
    {% include '@SyliusShop/Product/Show/_reviews.html.twig' %}
    <div class="mt-2">
        <span class="review-text mr-3">{{ 'shop24.ui.share_your_thoughts'|trans }}</span>
        <a class="btn btn-primary btn-v3" href="{{ path('sylius_shop_product_review_create', {'slug': product.slug, '_locale': product.translation.locale}) }}">
            {{ 'shop24.ui.write_a_review'|trans }}
        </a>
    </div>
</div>

<h5 class="mb-3 mt-4">{{ 'shop24.ui.top_customer_reviews'|trans }}</h5>

<div class="customer-reviews">
    {{ render(url('sylius_shop_partial_product_review_latest', {'productId': product.id, 'template': '@SyliusShop/ProductReview/_list.html.twig'})) }}
</div>

<a class="text-uppercase review-view-more-text" href="{{ path('sylius_shop_product_review_index', {'slug': product.slug, '_locale': product.translation.locale}) }}">
    {{ 'sylius.ui.view_more'|trans }}
</a>
