<a class="item" href="{{ path('sylius_admin_dashboard') }}" style="padding: 13px 0;">
    <div style="max-width: 90px; margin: 0 auto;">
        <img src="{{ asset('ad-theme/images/logo.png', 'ADTheme') }}" class="ui fluid image">
    </div>
</a>
