<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/10.1.0/nouislider.min.js"></script>

<script>
    var slider = document.getElementById('slider');
    var lower = document.getElementById('criteria_price_lower');
    var upper = document.getElementById('criteria_price_upper');

    if (slider && lower && upper) {
      upper.value = upper.value === lower.value ? +upper.value + 1 : upper.value

      noUiSlider.create(slider, {
        start: [
          Number(lower.value),
          Number(upper.value)
        ],
        connect: true,
        tooltips: true,
        range: {
          'min': Number(lower.value),
          'max': Number(upper.value)
        }
      });

      slider.noUiSlider.on('update', function( values, handle ) {
        var value = values[handle];

        if ( handle ) {
          upper.value = value;
        } else {
          lower.value = value;
        }
      });
    }
</script>
